body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: aliceblue; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.div{
  display: grid;

}
.div2{
  margin-left: 23%;
}
.ww{
  text-align: center;
  margin-top: 12px;
  font-family: 'Times New Roman', Times, serif;
  color: gray;
}
.ww1
{
  font-weight: bold;
  font-size: large;
  color: #1976d2;
  display:table;
  float: left;
  margin-left: 12px;
  margin-top: 12px;
  
  }
  .ww2
  {
  margin-top: 10%;
  margin-right: 20%;
  
  }
.ww3
{
  margin-top: 6%;
}
.ww4
{
  
  width: 140%;
  
}
.ww5
{
  color: darkgray;
  text-align: center;
  margin-top: 10px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.ww6
{
  color: #1976d2; 
  
}
.ww7
{
  margin-top: 10%;
  margin-right: 10%;
  margin-left: 10%;
  background-color: lightgrey;
}
.ww9
{
  margin-left: 35%;
}
.ww10
{
  margin-left: 45%;
  margin-top: 6%;
}
.w1{
  align-items: flex-start;
}